.container {
  background-color: aqua;
  height: 300px;
  width: 400px;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
}

.box {
  background-color: orange;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box2 {
  background-color: purple;
  height: 50px;
  width: 50px;
  display: flex;
  top: 0;
  right: 0;
  position: absolute;
}

.container2 {
  background-color: yellow;
  display: flex;
  margin-top: 50px;
  height: 200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.box3 {
  background-color: green;
  height: 50px;
  width: 50px;
  margin: 10px;
  justify-content: space-between;
}
