.main {
  margin: 100px;
  display: flex;
  width: 90%;
}

.container-left {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 30px;
  border: 1px solid black;
}

.container-right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10%;
  border: 1px solid black;
}

.container-left div {
  width: 150px;
  height: 150px;
  background: yellowgreen;
}

.container-right div {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background: yellowgreen;
}
